.flex-item {
  display: flex;
  flex-direction: column;
  flex: 0.8;
}

.home-bg-dark {
  background-color: #000000;
}

.home-bg-light {
  background-color: #ffffff;
}

.home-text-light {
  color: #ffffff;
}

.home-text-dark {
  color: #1e293b;
}

.input-group {
  width: 40vw;
  margin: 15px;
}
