.not-found {
  background-color: black;
  color: white;
  height: 100vh;
}

.text-color {
  color: white;
}

.center {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-self: center; */
}

.imgs {
  height: 200px;
  width: 100px;
}

.none {
  list-style-type: none;
}

.profileImg {
  height: 40px;
}
