.not-found {
  background-color: black;
  color: white;
  height: 100vh;
}

/* .text-color {
  color: white;
}

.center {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-self: center; */
/* } */

/* .imgs {
  height: 300px;
  width: 300px;
  align-self: center;
} */

.none {
  list-style-type: none;
}

.height {
  /* display: flex; */
  flex: 0.2;
  margin-left: 10px;
}
