.not-found {
  background-color: black;
  color: white;
  height: 100vh;
}

.none {
  list-style-type: none;
}

.height {
  /* display: flex; */
  flex: 0.2;
  margin-left: 10px;
  margin-bottom: 200px;
}

a {
  text-decoration: none;
  text-decoration-color: white;
}

.bold {
  font-weight: bold;
}

.sidebar-dark {
  background-color: #231f20;
}
